@model MvcApplication1.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}



<div id="templatemo_content_wrapper">

    <div id="templatmeo_sidebar">




        <div class="sidebar_section">

            <h2>Categories</h2>

            <div class="sidebar_section_content">

                <ul class="categories_list">
                    <li><a href="/Home/Female">Female Shoes</a></li>
                    <li><a href="/Home/Male">Male Shoes</a></li>
                    <li><a href="/Home/Kids">Kids Shoes</a></li>

                </ul>
            </div>

        </div>

    </div> <!-- end of templatemo_slider -->

    <div id="templatemo_content">



        <div class="content_section">

            <h2>Signing Up Form</h2>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <fieldset>
                    <legend>Registration Form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.UserName)
                            @Html.TextBoxFor(m => m.UserName)
                        </li>
                        
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </li>
                    </ol>
                    <input type="submit" value="Register" />
                </fieldset>
            }






            <div class="cleaner"></div>

        </div>

    </div> <!-- end of templatemo_content -->

    <div class="cleaner"></div>

</div> <!-- end of templatemo_content_wrapper -->
<div id="templatemo_content_wrapper_bottom"></div>



