
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">



<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Shoe Store </title>
    <meta name="keywords" content="Shoe Store, templatemo.com" />
    <meta name="description" content="Shoe Store - Free Website Template provided by templatemo.com" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/styles.css" />


    @* @Styles.Render("~/Content/css")*@

    <script language="javascript" type="text/javascript">
    function clearText(field) {
        if (field.defaultValue == field.value) field.value = '';
        else if (field.value == '') field.value = field.defaultValue;
    }
    </script>

    <script language="javascript" type="text/javascript" src="~/Scripts/mootools-1.2.1-core.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/mootools-1.2-more.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/slideitmoo-1.1.js"></script>
    <script language="javascript" type="text/javascript">
    window.addEvents({
        'domready': function () {
            /* thumbnails example , div containers */
            new SlideItMoo({
                overallContainer: 'SlideItMoo_outer',
                elementScrolled: 'SlideItMoo_inner',
                thumbsContainer: 'SlideItMoo_items',
                itemsVisible: 6,
                elemsSlide: 2,
                duration: 160,
                itemsSelector: '.SlideItMoo_element',
                itemWidth: 140,
                showControls: 1
            });
        },

    });
    </script>
</head>
<body>

    <header>
        <div id="templatemo_menu_wrapper">

            <div id="templatemo_menu">

                <ul>
                    <li><a href="/" class="current">Home</a></li>
                    <li><a href="/Home/Gallery">Gallery</a></li>

                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                    <li>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section></li>

                </ul>

            </div> <!-- end of templatemo_menu -->

        </div> <!-- end of templatemo_menu_wrapper -->

    </header>
    <div id="body">

        <div id="templatemo_header_wrapper">

            <div id="templatemo_header">

                <div id="site_title">

                    <h1>
                        <a href="http://www.templatemo.com" target="_parent">
                            <img src="~/images/templatemo_logo.png" alt="Site Title" />
                            <span></span>
                        </a>
                    </h1>

                </div> <!-- end of site_title -->

            </div> <!-- end of templatemo_header -->

        </div> <!-- end of templatemo_header_wrapper -->

        <div id="templatemo_slider_wrapper">

            <div id="templatemo_slider">

                <div id="latest_product_slider">

                    <div id="SlideItMoo_outer">
                        <div id="SlideItMoo_inner">
                            <div id="SlideItMoo_items">
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_01.png" alt="product 1" />
                                    </a>

                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_02.png" alt="product 2" />
                                    </a>

                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_03.png" alt="product 3" />
                                    </a>

                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_04.png" alt="product 4" />
                                    </a>

                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_05.png" alt="product 5" />
                                    </a>

                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_06.png" alt="product 6" />
                                    </a>

                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_07.png" alt="product 7" />
                                    </a>
                                </div>
                                <div class="SlideItMoo_element">
                                    <a href="#">
                                        <img src="~/images/templatemo_product_08.png" alt="product 8" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end of latest_product_slider -->

            </div> <!-- end of templatemo_slider -->

        </div> <!-- end of templatemo_slider_wrapper -->
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <div id="templatemo_content_wrapper_bottom"></div>
    <footer>
        <div id="templatemo_footer">

            <ul class="footer_menu">
                <li><a href="/" class="current">Home</a></li>
                <li><a href="/Home/Gallery">Gallery</a></li>

                <li><a href="/Home/About">About</a></li>
                <li><a href="/Home/Contact">Contact</a></li>
                <li><a href="/Admin/Signup">Sign up</a></li>
            </ul>

            Copyright © 2048 <a href="#">Your Company Name</a> |
            <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
        </div>
        <!-- end of footer -->

        <div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div>
</body>

        </footer>

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)
    </body>
</html>

