@model MvcApplication1.Models.Customer



<div id="templatemo_content_wrapper">

    <div id="templatmeo_sidebar">




        <div class="sidebar_section">

            <h2>Categories</h2>

            <div class="sidebar_section_content">

                <ul class="categories_list">
                    <li><a href="/Home/Female">Female Shoes</a></li>
                    <li><a href="/Home/Male">Male Shoes</a></li>
                    <li><a href="/Home/Kids">Kids Shoes</a></li>

                </ul>
            </div>

        </div>

    </div> <!-- end of templatemo_slider -->

    <div id="templatemo_content">



        <div class="content_section">

            <h2>Edit</h2>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Customer</legend>

                    @Html.HiddenFor(model => model.Id)

                    <div class="editor-label">
                        @Html.LabelFor(model => model.UserName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>

                    <p>
                        <input type="submit" value="Save" />
                    </p>
                </fieldset>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }






            <div class="cleaner"></div>

        </div>

    </div> <!-- end of templatemo_content -->

    <div class="cleaner"></div>

</div> <!-- end of templatemo_content_wrapper -->
<div id="templatemo_content_wrapper_bottom"></div>



